// layout
.d-flex {
  @include d-flex(normal, normal);
}

.flex-align-center {
  @include flex-(align-items, center);
}

.flex-justify-center {
  @include flex-(justify-content, center);
}

.flex-direction-column {
  @include flex-(flex-direction, column);
}

// margin auto
.ml-auto {
  margin-left: auto !important;
}

.mr-auto {
  margin-right: auto !important;
}

// align
.ta-l {
  text-align: left !important;
}

.ta-c {
  text-align: center !important;
}

.ta-r {
  text-align: right !important;
}

// main left
.col {
  $fix: 'fix';
  &[class*=#{$fix}] {
    flex: 0 0 auto;
  }

  &.#{$fix}-left {
    width: 446px;
  }
}