.wrap_menu_info {
  > h1 {
    font-size: 28px;
    color: #333;
    letter-spacing: -0.5px;
    font-weight: 700;
    margin-bottom: 30px;
  }
}
.table_sample {
  width: 100%;
  tbody {
    th,
    td {
      padding: 15px 25px;
      border: 1px solid #e2e6ec;
      font-size: 18px;
      color: #333;
      letter-spacing: -0.5px;
      line-height: 1.6;
    }
    th {
      background-color: #f1f5f9;
    }
    td {
      background-color: #fff;
    }
  }
}

.erp-component-wrap {
  hr {
    margin: 10px 0;
    height: 1px;
    background-color: #ccc;
    opacity: 1;
  }
}

.modal-footer {
  &.center-btn {
    border: 0;
    justify-content: center;
  }
}

.spinner-wrap {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;

  .spinner-border {
    width: 4rem;
    height: 4rem;
  }
}

.lnb {
  > .vtl > div {
    padding-bottom: 30px;
  }
  .vtl {
    .vtl {
      // border: 1px solid blue;
      .vtl {
        .vtl {
          .vtl-node-main {
            padding-left: 0.5em;
          }
        }
      }
    }
  }

  .vtl-tree-margin {
    margin-left: 5px;
  }

  .vtl-node-main {
    cursor: pointer;
    line-height: 1;
    // border: 1px solid yellow;
    .vtl-node-content {
      font-size: 12px;
      color: #000;
      letter-spacing: -0.5px;
    }
  }
}

/* mark_down */
.mark_down {
  margin-bottom: 20px;
  h1,
  h2,
  h3,
  h4,
  ul,
  ol,
  li {
    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }
  p {
    margin-bottom: 10px;
    line-height: 1.6;
  }
  ul {
    padding-left: 0;
    li {
      // display: flex;
      // align-items: center;
      // &:before {
      //   content: "-";
      //   display: inline-flex;
      //   margin-right: 6px;
      // }
    }
  }
  hr {
    margin-bottom: 10px;
  }
  a {
    color: #498ce7;
    text-decoration: underline;
  }
  h1,
  h2,
  h3 {
    margin-top: 20px;
  }
}

h1.tit-guide {
  font-size: 14px !important;
  font-weight: 700;
  margin-bottom: 10px;
}
p.desc-guide {
  margin-bottom: 10px;
}

hr.gap{
  margin: 10px 0;
  background-color: transparent;
  background-color: #333 ;
}